.container-fluid.main-page.tsgb-footer
    .category Kontakt und Feedback
    .row
        .col-12.col-sm-4
            .sub Tanzsportgemeinschaft Bietigheim e.V.
            p.
                Gustav-Rau-Str. 32 </br>
                (Eingang zum Gebäude links vom REWE, 2. Stock) </br>
                74321 Bietigheim-Bissingen</br>


        .col-12.col-sm-4
            p.
                Telefon: +49 160 918 72 432 auch Whats App </br>
                Wenn Sie uns mal telefonisch nicht erreichen sollten, </br>
                schreiben Sie uns und wir melden uns bei Ihnen. </br>
        .col-12.col-sm-4.link-footer
            ul.underline
                li
                    a(href="mailto:info@tsgb.de") info@tsgb.de
                li
                    a Impressum
                li
                    a Datenschutzerklärung