header#nav.tsgb-main-nav.nav-down.card-1
    .tsgb-logo
        img.img-fluid(src=require("../../img/hallo.png"))
    .tsgb-menu-entry.d-lg-none
        .menu-btn &#9776;
    .tsgb-nav-page.d-none.d-lg-flex
        ul
            li.underline-from-center
                a(href="#") Tanzangebote
                .dropdown.card-1
                    ul
                        li
                            a.underline-from-center(href="#") hallo hallo hallo hallo
                        li
                            a.underline-from-center(href="#") hallo hallo hallo hallo
            li.underline-from-center
                a(href="#") Tanzsport
            li.underline-from-center
                a(href="#") Live