.social-bar.open
    .social-icons
        a.icon-button.instagram(href="https://www.instagram.com/tsg_bietigheim/?hl=de" target="_blank")
            i.fab.fa-instagram
        a.icon-button.facebook(href="https://www.facebook.com/TSGBietigheim/" target="_blank")
            i.fab.fa-facebook-f
        a.icon-button.twitter()
            i.fab.fa-twitter()