
video(autoplay loop id="video-background" muted plays-inline)
  source(src=require('../../assets/movie.mp4') type="video/mp4")
.container-fluid.teams-view
    .row
        .header-video
          h2 Die Teams
    .row
      .news-slider
