
.container-fluid.main-page
    .row
        .col-12.header-pointer
            .card-2.img-pointer
                .welcome-teaser
                    .welcome-header
                        .sub WELCOME
                        h3.card-1 Tanzsportgemeinschaft Bietigheim e.V. hjasgdhjas

        .col-12.col-sm-6.col-xl-4
            .show-img-conatiner.card-2
                .img
                a.content
                    .categorie Kindertanz
                    .content-buttom
                        .header
                            h4 NEU Kindertanzen mit Sophie
                            span.subtitle Kindertanz alles für die kleinen ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6.col-xl-4
            .show-img-conatiner.card-2
                .img.img-3
                a.content
                    .categorie Breitensport
                    .content-buttom
                        .header
                            h4 Breitensport herum hüpfen mit Spaß
                            span.subtitle lorem iasuhfaish ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd

        .col-12.col-sm-6.col-xl-4
            .show-img-conatiner.card-2
                .img.img-2
                a.content
                    .categorie Latein
                    .content-buttom
                        .header
                            h4 Latein basic
                            span.subtitle Mit Meister Eder ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6
            .show-img-conatiner.img-4.card-2
                .img.img-4
                a.content
                    .categorie Kurse
                    .content-buttom
                        .header
                            h4 Neue Tanzkurse
                            span.subtitle Tanzkurse mit ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6
            .show-img-conatiner.card-2
                .img.img-2
                a.content
                    .categorie Latein
                    .content-buttom
                        .header
                            h4 Latein basic
                            span.subtitle Mit Meister Eder ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd

