

.container-fluid.main-page
    .row
        .col-12.header-pointer
            .card-2.img-pointer
        .col-12.col-sm-6
            .show-img-conatiner.img.card-2
                a.content
                    h2 Tanzangebot
                    p.
                        hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                        uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6
            .show-img-conatiner.img-1.card-2
                a.content
                    h2 Tanzsport
                    p.
                        hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                        uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6
            .show-img-conatiner.img-2.card-2
                a.content
                    h2 Tanzsport
                    p.
                        hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                        uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6
            .show-img-conatiner.img-1.card-2
                a.content
                    h2 Tanzsport
                    p.
                        hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                        uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd


