

.container-fluid.main-page
    .row
        .col-12.header-pointer
            .card-2.img-pointer
        .col-12.col-sm-6
            .show-img-conatiner.img.card-2
                a.content
                    .categorie Kindertanz
                    .content-buttom
                        .header
                            h4 NEU Kindertanzen mit Sophie
                            span.subtitle Kindertanz alles für die kleinen ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6
            .show-img-conatiner.img-1.card-2
                a.content
                    .categorie Latein
                    .content-buttom
                        .header
                            h4 NEU Kindertanzen mit Sophie
                            span.subtitle lorem iasuhfaish ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd

        .col-12.col-sm-6
            .show-img-conatiner.img-2.card-2
                a.content
                    .categorie Breitensport
                    .content-buttom
                        .header
                            h4 NEU Kindertanzen mit Sophie
                            span.subtitle Kindertanz ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd
        .col-12.col-sm-6
            .show-img-conatiner.img-1.card-2
                a.content
                    .categorie Kurse
                    .content-buttom
                        .header
                            h4 NEU Kindertanzen mit Sophie
                            span.subtitle Kindertanz ....
                        p.
                            hier her llerfniuw wuveuwviuwheiuhwiuvhweui
                            uashfiquhciuqhcuqwhiuqdniqwuiqeuhc quwdhiqwuhd


