div(class="row")
    mixin contenti
        div(class="col-12 col-sm-6")
            h1 hallo
            mixin lorem
                p
                  |  et dolore magna aliquyam erat, sed diam voluptua. At veo eos et accusam et justo duo dolores et ea
                  |  rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                  |  dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                  |  magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                  |  clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            h2 hallo
            +lorem
            h3 hallo
            +lorem
            h4 hallo
            +lorem
    +contenti
    +contenti