header(class="tsgb-main-nav nav-down card-1" id="nav")
    div(class="tsgb-logo")
        img(class="img-fluid" src=require("../img/hallo.png"))
    div(class="tsgb-menu-entry d-lg-none")
        div(class="menu-btn") &#9776;
    div(class="tsgb-nav-page d-none d-lg-flex")
        ul
            li(class="underline-from-center")
                a Tanzangebote
                div(class="dropdown card-1")
                    ul
                        li
                            a hallo hallo hallo hallo hallo
            li(class="underline-from-center")
                a Tanzsport
            li(class="underline-from-center")
                a Live