nav.pushy.pushy-right
    .pushy-content
        ul
            li.pushy-submenu
                div events
                ul
                    li.pushy-link
                        a.underline-from-center Item 1
                    li
                        a.underline-from-center Item 2
                    li
                        a.underline-from-center Item 3
            li.pushy-link
                a.underline-from-center Item 3
            li.pushy-link
                a.underline-from-center Item 3
.site-overlay