$main-color: #B71C1C;
$main-color-light: lighten( $main-color, 10% );
$main-color-background: rgba(255,255,255, 1);
$main-color-background-font: black;
$main-color-black-theme-font: #ffff;
$nav-dropdown-color: rgba( $main-color-background, 1 );