a:hover{
  text-decoration: none;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

ul.underline li {
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $main-color-light;
    height: 2px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before {
    left: 0;
    right: 0;
  }
}
.link-footer{
  display: flex;
  flex-direction: column;
  ul{
    display: inline-flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.underline-from-center {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $main-color-light;
    height: 2px;
    -webkit-transition-property: left right;
    transition-property: left right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &:hover:before {
    left: 0;
    right: 0;
  }
}
.social-bar.open{
  transform: translateX(0);

}
.social-bar.close{
  transform: translateX(100px);
}
.social-bar{
  transition: all 400ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
  display: flex;
  position: fixed;
  top: 20%;
  right: 2%;
  .social-icons{
    display: flex;
    flex-direction: column;
    a{
      margin: 2px 0px;
      svg{
        padding: 5px;
        transition: all 0.2s ease-in-out;
        border-radius: 3rem;
        height: 3rem;
        width: 3rem;
        line-height: 3rem;
      }
      &.instagram svg{
        color: #ffff;
        background:
            // left bottom
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
              // left top
            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
              //  right top
            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
              // right bottom
            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
              /////// create a base coat to smooth
              /////// corner gradients
            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      }
      &.facebook svg{
        color: #ffffff;
        background-color: #3b5998;
      }
      &.twitter svg{
        color: #ffffff;
        background-color: #00acee;
      }
      &:hover svg{
        transform: scale(1.1);
      }
    }
  }
}
