@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/images";
@import "~@cmyee/pushy/scss/pushy.scss";
@import "~tiny-slider/src/tiny-slider.scss";
@import "colors";
@import "font";
@import "default";

body{
	background-color: black;
	margin-top: 60px;
}
.main-page.container-fluid{
	margin-bottom: 30px;
	padding: 0px 30px;
	max-width: 1920px;
}
.pushy{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: $main-color-background;
	a{
		color: $main-color-background-font;
	}
	a:hover{
		color: $main-color-background-font;
	}
	.pushy-submenu{
		div{
			display: block;
			color: #b3b3b1;
			padding: 15px 30px;
			text-decoration: none;
			position: relative;
		}
		div::after{
			content: '';
			display: block;
			height: 11px;
			width: 8px;
			position: absolute;
			top: 50%;
			right: 15px;
			background: url(../img/arrow.svg) no-repeat;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
			transition: transform 0.2s;
		}
	}
	.pushy-submenu {
		.pushy-link{
			border-left: none;
		}
	}
}

.tsgb-main-nav{
	z-index: 9;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	transition: top 0.2s ease-in-out;
	width: 100%;
	background-color: $main-color-background;
	.tsgb-logo{
		margin-left: 15px;
		display: inline-flex;
		img{
			width: 100%;
			max-width: 325px;
			height: 55px;
		}
	}
	.tsgb-menu-entry{
		display: flex;
		flex: 1;
		justify-content: flex-end;
		align-items: center;
	}
	.menu-btn{
		cursor: pointer;
		font-size: 26px;
		line-height: 21px;
		padding: 10px;
	}
	.tsgb-nav-page{
		display: flex;
		flex: 1 1 ;
		justify-content: flex-start;
		position: relative;
		>ul{
			margin-left: 20px;
			cursor: pointer;
			font-weight: 300;
			display: flex;
			align-items: flex-end;
			margin-bottom: 0px;
			>li:first-child {
				margin-left: 0px;
			}
			>li{
				margin: 0px 10px;
				white-space: nowrap;
				a {
					color: $main-color-background-font;
					padding-bottom: 5px;
					display: block;
					font-size: 25px;
				}
			}
		}
		ul > li:hover{
			.dropdown{
				display: block;
				visibility: visible;
				opacity: 1;
			}
		}
		.dropdown{
			position: absolute;
			z-index: 2;
			background-color: $nav-dropdown-color;
			visibility:hidden;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			min-width: 220px;
			ul{
				padding: 15px;
			}
		}
	}
}
.nav-up {
	top: -70px;
}
.tsgb-slider{
	display: flex;
	width: 100%;
	top: 0;
	position: fixed;
	height: 1024px;
	align-items: center;
	>.container{
		display: flex;
		flex-direction: column;
	}
}
.news-slider{
	margin-bottom: 30px;
	height: 500px;
	max-height: 500px;
	overflow: hidden;
	.slide{
		max-height: 500px;
		position: relative;

	}
	img{
		object-fit: cover;
		width: 100%;
		min-height: 500px;
	}
	.slide-content{
		position: absolute;

	}
}
.header-pointer{
	.img-pointer{
		margin-bottom: 30px;
		margin-top: 30px;
		position: relative;
		display: flex;
		height: 500px;
		flex: 1 1 auto;
		background-image: url("../img/club.jpg");
		background-repeat: no-repeat, repeat;
		background-position: center;
		background-size: cover;
	}
	.welcome-teaser{
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.welcome-header{
			.sub{
				background-color: $main-color;
				color:  $main-color-background;
				font-weight: 200;
				font-size: 23px;
				display: inline-flex;
				padding: 0px 15px;
			}
			h3{
				background-color: $main-color-background;
				padding: 15px;
			}

		}
	}


}
.img{
	background-repeat: no-repeat, repeat;
	background-position: center;
	background-size: cover;
	height: 500px;
	max-height: 500px;
	transition: transform 0.3s;
}
.img{
	background-image: url("../img/zumba.jpg");
}
.img-1{
	background-image: url("../img/bg.jpg");
}
.img-2{
	background-image: url("../img/tanz_wm_pr__1000.jpg");
}
.img-3{
	background-image: url("../img/dance.jpg");
}
.img-4{
	background-image: url("../img/tanzschule.jpg");
}
.img-5{
	background-image: url("../img/club.jpg");
}
.category{
	text-transform: uppercase;
	background-color: $main-color;
	padding: 5px 15px;
	color: $main-color-background;
	display: inline-flex;
	font-weight: 400;
}
.show-img-conatiner{
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 500px;
	max-height: 500px;
	flex: 1 1 auto;
	transition: transform 0.3s;
	.content{
		height: 200px;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100%;
		transform: translateY(70px);
		transition: transform 0.3s;
		.category{
			text-transform: uppercase;
			background-color: $main-color;
			padding: 5px 15px;
			color: $main-color-background;
			display: inline-flex;
			font-weight: 400;
		}
		.content-buttom{
			background: $main-color-background;
			padding: 15px;
			.header{
				span {
					color: gray;
					margin-bottom: 20px;
					padding: 1px;
					font-weight: 100;
					font-size: 23px;
				}
				color: $main-color-background-font;
				margin-bottom: 30px;
			}
			p{
				overflow: hidden;
				text-overflow: ellipsis;
				max-width: 600px;
			}
		}

	}
	&:hover{
		.content{
			transform: translateY(0px)
		}
		.img{
			transform: scale(1.04);
		}
	}
}


@include media-breakpoint-only(xs) {
	.header-pointer{
		.welcome-teaser{
			.welcome-header{
				}
				h3{
					font-size: 40px;
					background-color: $main-color-background;
					padding: 15px;
				}

			}
	}
	.main-page.container-fluid{
		padding: 0px;
		margin: 0px;
		.col{
			padding: 0px;
		}
		.row {
			margin: 0px;
			>div{
				padding: 0px;
			}
		}
	}
}
@include media-breakpoint-down(lg) {
	.show-img-conatiner{
		&:hover{
			.img{
				transform: none;
			}
		}
		justify-content: flex-end;
		.content{
			height: auto;
			transform: none;
		}
		&:hover{
			.content{
				transform: none
			}
		}
	}
}
