doctype html
html(lang="de")
    include ./partials/head
    body
        include ./partials/mobile-nav
        include ./partials/header-nav
        include ./content/content-detailseite
        include ./partials/socialbar
        include ./partials/footer
